




@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');



@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

:root {
  --level-one: translateZ(3rem);
  --level-two: translateZ(6rem);
  --level-three: translateZ(9rem);
  
  --fw-normal: 400;
  --fw-bold: 700;
  
  --clr: #b7c9e5;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}



.card {
  width: 400px;
}

.card__content {
  text-align: center;
  position: relative;
  padding: 300px 200px;
  transition: transform 3s;
  background: pink;
  transform-style: preserve-3d;
}

.card:hover .card__content {
  transform: rotateY(.5turn);
}

.card__front,
.card__back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display: grid;
  align-content: center;
}

.card__front {
  background-color: var(--clr);
  background-size: cover;
  background-blend-mode: overlay;
  color: #333;
}

.card__front::before {
  content: '';
  position: absolute;
  --spacer: 1em;
  top: var(--spacer);
  bottom: var(--spacer);
  left: var(--spacer);
  right: var(--spacer);
  border: 3px solid currentColor;
  transform: var(--level-one);
}

.card__title {
  font-size: 2rem;
  transform: var(--level-three);
  order: 2;
  text-transform: uppercase;
}

.card__subtitle {
  transform: var(--level-two);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: .75rem;
  font-weight: var(--fw-bold);
  opacity: .7;
  order: 3;
}

.card__body {
  transform: var(--level-two);
  font-weight: var(fw-normal);
  font-size: 1.5rem;
  line-height: 1.6;
}



.card__back {
  transform: rotateY(.5turn);
  color: var(--clr);
  background: #333;
}
.profile{
  height: 200px;
}
.image{
  background: cyan;
}





h2{
  padding: 100px;
}

body{
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(223,45,253,0.9640231092436975) 100%);
  color: #ffffff;
  font-family: 'Poppins' , sans-serif;
  padding: 0;
  margin:0;
  
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 80vh;
  padding: 50px;
}
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: 1s ease-in-out ;
}
img{
  height:100px;
  width: auto;
}
.show {
  opacity: 1;
  filter:blur(0);
  transform: translateX(0);

}
.logos {

  display: grid;
  place-items: center;
  align-content: center; 
  grid-template-columns: 1fr 1fr;
  gap: 300px 200px;
  transition: 50ms ease-in-out;

}
 .logo{
  height: 500px;
  width: 400px;
  background: Cyan;
   box-shadow: 0 15px 10px lightblue; 
  
}
/*
.logo:nth-child(2) {
  transition-delay: 200ms;
}
.logo:nth-child(3) {
  transition-delay: 600ms;
}
.logo:nth-child(4) {
  transition-delay: 1000ms;
} */


.logo:hover{
  transform: scale(1.05);
}
